{% extends "base_generic.html" %}

{% block content %}
  <h1>Med Log Entry : </h1>

  <div style="margin-left:20px;margin-top:20px">
    <h4>{{medlogentry.med_date}}</h4>
    <hr>
      <p >
      <li>time medication taken:   {{medlogentry.med_time }}</li>
      <li>medication:   {{medlogentry.med }}</li>
      <li>dose:   {{medlogentry.med_dose }} {{MedLogEntry.med_dose_unit}}</li>
      <li>comment:   {{medlogentry.med_comment }}</li>

      <a href="{% url 'med-log-delete' medlogentry.pk %}">Delete</a><br>
      <a href="{% url 'med-log-update' medlogentry.pk %}">Update</a>
      </p>

  </div>
{% endblock %}