{% extends "base_generic.html" %}

{% block content %}
  <h1>Mood Log entries</h1>
   {% if moodlogentry_list %}
       {% for entry in moodlogentry_list %}
    <table style="width:50%">
  <tr>
    <td><a  href="{% url 'mood-log-detail' entry.pk %}"> {{entry.mood_date}} {{entry.mood_score}} {{entry.bp_phase}}</a></td>
    <td><a href="{% url 'mood-log-update' entry.pk %}">Edit</a></td>
    <td><a href="{% url 'mood-log-delete' entry.pk %}">Delete</a></td>

  </tr>
    {% endfor %}
  
  {% else %}
    <p>There are no log entries for mood.</p>
  {% endif %}       
{% endblock %}